.div_main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

/* @media (max-width:1140px){
    .div_main{
        grid-template-columns: 1fr;
    }
} */

@media (max-width:768px) {
    .div_main{
        grid-template-columns: 1fr;
    }
}

.div_big_block{
    border: 6px solid rgb(90, 150, 250);
    border-radius: 20px;
    margin: 20px 10px 0px 10px;
    min-width: 350px;
    max-width: 500px;
    height: auto;
    display: grid;
    grid-template-rows: 100px 1fr;
}

/* .div_left{
    display: grid;
    grid-template-rows: 100px 1fr;
} */

.div_title{
    width: 100%;
    border-bottom: 6px solid rgb(90, 150, 250);
}
.div_list{
    width: 100%;
    background-color: rgb(180, 230, 250);
}

.title{
    text-align: center;
    font-size: 35px;
}

.list{
    width: 100%;
    list-style:none;
    padding: 0px;
}

.list_value{
    height: auto;
    /* border-left: rgb(90, 150, 250) solid 12px; */
    margin: 20px 10px;
    cursor: pointer;
    position: relative;
    box-sizing:border-box;
}

.list_value::before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    z-index: -1;  
    height: 100%;
    width: 0;
    transition:  width 0.25s ease 0s;
    background-color: rgb(90, 150, 250);
}

.list_value:hover{
    z-index: 1;
    .icon_list{
        filter: brightness(0) invert(1);
    }
    .icon_list_2{
        visibility: visible;
    }
}

.list_value:hover::before{
    width: 100%;
   }

.icon_list{
    height: 60px;
    vertical-align: middle;
    margin-right: 20px;
    margin-left: 10px;
}

.icon_list_2{
    height: 30px;
    vertical-align: middle;
    position: absolute;
    top: 15px;
    right: 10px;
    visibility: hidden;
}

/* .block_home{
    margin: 10px;
    min-width: 250px;
    max-width: 450px;
    height: 150px;
    border: 5px solid rgb(90, 150, 250);
    border-radius: 25px;
} */


.btn_home_text{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 0px;
    height: auto;
    /* line-height: 150px; */
    font-size: 35px;
    vertical-align: middle;
}

a{
    text-decoration: none;
    display: inline-block;
    width: 100%;
}

a:link, a:visited{ 
    text-decoration: none; 
} 
a:hover{ 
    color: #ffffff; 
    text-decoration: none;
}