hr{
    color: rgb(177, 177, 177);
    opacity: 50%
}

.div_page_regulations{
    display: flex;
    flex-wrap: wrap;
    height: 90vh;
}

.div_input{
    flex: 1;
    min-width: 350px;
    height: 100%;
    padding: 20px 5px;
    /* justify-content: center; */
    background-color: rgb(180, 230, 250);
    overflow: auto;
}

.list_article{
    padding: 0px;
}

.block_list{
    display: flex;
    width: 100%;
    height: 40px;
    border-left: rgb(90, 150, 250) solid 8px;
    margin: 5px 0px;
    cursor: pointer;
    position: relative;
}

.block_list::before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    /* 位于原本li 下面 */
    z-index: -1;  
    height: 100%;
    width: 0;
    /* 动画时长 */
    transition:  width 0.25s ease 0s;
    /* 变换的背景色 */
    background-color: rgb(90, 150, 250);
}

.block_list:hover{
    z-index: 1;
    color: white;
}

.block_list:hover::before{
    width: 100%;
   }

.div_article{
    flex: 2;
    text-align: right;
    font-size: 15px;
    line-height: 40px;
}

.div_title{
    flex: 7;
    padding-left: 1em;
    font-size: 15px;
    font-weight: 600;
    line-height: 40px;
}

.div_output{
    flex: 2;
    min-width: 350px;
    margin: 0px 20px;
    justify-content: start;
    counter-reset: index 0;
}

.output_text{
    margin-left: 2em;
}

.div_output_text{
    position: relative; 
    overflow: auto;
}

.show-number::before{
    content: counter(index) '';
    counter-increment: index 1; 
    display: inline-block;
    position: absolute;
    left: -2em;
    text-align: right;
    width: 3em;
    font-size: 1.05em;
    color: #636363;
}
