html {
  scroll-padding-top: 85px;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  -ms-overflow-style: none;
  display: flex;
  flex-direction: column;
  overscroll-behavior-y: contain;
  line-height: initial !important;
}

main {
  height: calc(100% - 60px);
}

.icon_menu {
  height: 25px;
}

nav {
  position: fixed;
}

#picArea {
  background-color: aqua;
  position: absolute;
  height: 300px;
  z-index: 10;
}

/* 圖標大小 */
.i-10 {
  height: 1em;
  width: 1em;
}

.i-12 {
  height: 1.25em;
  width: 1.25em;
}

.i-15 {
  height: 1.5em;
  width: 1.5em;
}

.i-20 {
  height: 2em;
  width: 2em;
}

#pageHeader {
  --bs-bg-opacity: .95;
}
#sidebar{
  min-width: 220px; 
  max-width: 220px;
}
.menu-item.collapsed .anime-icon {
  transition: all 0.1s ease-in-out;
  transform: rotate(90deg);
}

.menu-item .anime-icon {
  transition: all 0.1s ease-in-out;
  transform: rotate(-90deg);
}

@media (min-width:992px) {
  main {
    display: grid;
    grid-template-columns: 200px 1fr;
  }

  #sidebar {
    position: sticky;
    height: calc(100vh - 6rem);
    top: 4rem;
    border-radius: 10px;
  }

  .dropdown-item {
    font-size: 14px;
  }

  .menu-item-secend {
    font-size: 12px;
  }
}

#pageMenu::-webkit-scrollbar {
  display: none;
}