#searchBar{
    grid-area: search;
    position: relative;
    width: 300px;
    height: 420px;
    padding: 0 10px;
    display: grid;
    grid-template-rows: 50px 60px 1fr;
    z-index: 2;
    transition: 0.3s;
    right: 5px;
    top: 5px;
    background-color: rgb(44, 44, 44);
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgb(139, 139, 139);
    transform-origin: 100% 0%;
    transform: matrix(1, 0, 0, 1, -320, -450)
    /* transform: translateX(-250px); 
    transform: scaleX(0); */
}

.bk_hideSearch{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1em;
    cursor: pointer;
}
/* .bk_hideSearch:hover{
    background-color: rgb(90, 150, 250);
    #btn_hideSearch{
        transform: translateX(10px);
    }
} */

.space_hideSearch{
    height: 40px;
    width: 100%;
    font-size: 24px;
    color: rgb(90, 150, 250);
    cursor: pointer;
    line-height: 40px;
    text-align: left;
    font-weight: 600;
}

#btn_hideSearch{
    display: inline-block;
    height: 40px;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 0px;
    background-color:transparent;
    border:none;
    transition: 0.3s;
}
#btn_hideSearch:hover{
    filter: invert(0.5);
}

.form_search{
    padding-top: 15px;
}

.search_input{
    border: 1.5px solid rgb(90, 150, 250);
    height: 25px;
    border-radius: 10px;
    width: 270px;
    margin: 0 10px;
    padding-left: 5px;
    display: inline-block;
    background-color: MintCream;
    display: flex;
    justify-content: space-between
}

#input_keyword{
    background-color:transparent;
    vertical-align: middle;
    border: none;
    outline : none;
    height: 25px;
    color: black;
    font-size: 15px;
    font-weight: 600;
    padding: 0;
    width: calc(100% - 80px);
}


.icon_search_label{
    display: inline-block;
    width: 30px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.icon_search{
    width: 23px;
}
.icon_search:hover{
    cursor: pointer;
    filter: invert(0.3);
}

.hide_input{
    display: none;
}

.icon_search_start{
    width: 25px;
}

.bk_search_history{
    display: none;
}

.search_title{
    display: flex;
    align-items: center;
}

/* .bk_search_list{
    
} */

.text_title{
    font-size: 18px;
    color: whitesmoke;
    margin: 0; 
}

.history{
    border-top: 2px solid rgb(90, 150, 250);
    padding: 5px 20px 10px 1em;
}

.history_text{
    font-size: 16px;
    color: whitesmoke;
    border-left: 8px rgb(90,150,250) solid;
    padding-left: 1em;
    margin: 10px 0;
    height: 30px;
    position: relative;
    cursor: pointer;
}
.history_text::before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    z-index: -1;  
    height: 100%;
    width: 0;
    transition:  width 0.25s ease 0s;
    background-color: rgb(90, 150, 250);
}
.history_text:hover{
    z-index: 1;
    .icon_menu{
        filter: brightness(0) invert(1);
    }
}
.history_text:hover::before{
    width: 100%;
}

.bk_search_options{
    height: 280px;
}
.options{
    display: flex;
    flex-direction: column;
    grid-row-gap:10px;
    border-top: 2px solid rgb(90, 150, 250);
    padding: 5px 20px 10px 2em;
    max-height: 100%;
    overflow: auto;
}
.options_row{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items:center;
}
.options_text{
    font-size: 16px;
    color: whitesmoke;
    cursor: pointer;
}

.check_search{
    display: none;
}

.toggle {
  width: 3rem;
  height: 1.6rem;
  background: rgb(168, 168, 168);
  border-radius: 1rem;
  position: relative;
  cursor: pointer;
}
.toggle::after {
  position: absolute;
  left: 0.1rem;
  top: 0.1rem;
  content: "";
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  background: #e7f0ff;
  pointer-events: none;
  margin: 0;
  padding: 0;
  transition: all 0.3s;
}
.check_search:checked + label {
  background: rgb(50,120,250);
}
.check_search:checked + label::after {
  left: 1.5rem;
}