a, a:link, a:visited, a:hover{
    text-decoration: none;
}

#sidebar{
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 150px 1fr;
    background-color: rgb(30, 30, 30);
}


.bk_hideSidebar{
    display: none;
}
.bk_hideSidebar:hover{
    background-color: rgb(90, 150, 250);
    #btn_hideSidebar{
        transform: translateX(-10px);
    }
}

.space_hideSidebar{
    display: inline-block;
    height: 40px;
    width: 100%;
    font-size: 20px;
    vertical-align: middle;
    /* text-align: right; */
    color: whitesmoke;
    cursor: pointer;
    line-height: 40px;
}

.icon_hide_menu{
    margin-bottom: 5px;
}

#btn_hideSidebar{
    display: inline-block;
    height: 40px;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 0px;
    background-color:transparent;
    /* vertical-align: middle; */
    border:none;
    transition: 0.3s;
}

.bk_app_name{
    height: 100%;
}
.index_link{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
}
.index_link img{
    padding: 0 86px;
}

.app_name{
    text-align: center;
    font-size: 30px;
    color: white;
    margin: 0;
}

.bk_app_list{
    overflow: auto;
}
.bk_app_list::-webkit-scrollbar{
    display: none;
}

/*實現點擊母選單開關子選單*/
.check_menu{
    display: none;
}
.check_menu:checked+.bk_menu{
    grid-template-rows: 50px 1fr;
    height: 50px;
}
.check_menu:checked+.bk_menu .icon_class_open{
    transform: rotate(90deg);
}
.check_menu:checked+.bk_menu ul{
    transform-origin: 50% 0%;
    transform: scaleY(0) translateY(-50%);
}

.bk_menu{
    margin: 10px 10px;
    border-radius: 10px;
    /* height: auto; */
    background-color: rgb(20, 20, 20);
    display: grid;
    grid-template-rows: 50px 1fr;
    transition: 0.3s;
}
/*要自訂每個menu的高度，才能實現收合動畫*/
/*基礎高67，每個元件+40*/
.menu_1{
    height: 267px;
}
.menu_2{
    height: 147px;
}
.menu_3{
    height: 147px;
}
.menu_4{
    height: 187px;
}

.bk_menu_class{
    position: relative;
    cursor: pointer;
}

.icon_class{
    height: 30px;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
}

.text_class{
    display: inline-block;
    vertical-align: middle;
    color: white;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    margin: 0;
}

.icon_class_open{
    height: 20px;
    vertical-align: middle;
    position: absolute;
    top: 16px;
    right: 10px;
    transform: rotate(-90deg);
    transition: 0.3s;
}

.list_menu{
    border-top: 2px solid rgb(90, 150, 250);
    margin: 0;
    padding: 5px 0 10px 0;
    transition: 0.3s;
    list-style:none
}

.list_menu_value{
    height: 40px;
    padding-left: 15px;
    position: relative;
    box-sizing:border-box;
}
.list_menu_value::before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    z-index: -1;  
    height: 100%;
    width: 0;
    transition:  width 0.25s ease 0s;
    background-color: rgb(90, 150, 250);
}
.list_menu_value:hover{
    z-index: 1;
    .icon_menu{
        filter: brightness(0) invert(1);
    }
}
.list_menu_value:hover::before{
    width: 100%;
}

.page_link{
    width: 100%;
    height: 40px;
    display: inline-block;
    padding-top: 5px;
}

.icon_menu{
    height: 30px;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
}

.text_menu{
    display: inline-block;
    vertical-align: middle;
    color: white;
    line-height: 20px;
    font-size: 16px;
    margin: 0;
}

.icon_menu_open{
    height: 20px;
    vertical-align: middle;
    /* position: absolute; */
    top: 21px;
    right: 10px;
}


@media (max-width:1024px) {
    #sidebar{
        position: relative;
        width: 250px;
        height: 100%;
        grid-template-rows: 50px 150px 1fr;
        z-index: 2;
        transition: 0.3s;
    }
    .show_sidebar{
        transform: translateX(0); 
    }
    .hide_sidebar{
        transform: translateX(-250px); 
    }
    .bk_hideSidebar{
        display: flex;
        justify-content: space-between;
    }
}

