a,a:link, a:visited,a:hover{
    text-decoration: none;
}

@media (min-width:768px){
    #mainContent{
        display: grid;
        grid-template-columns:1fr 300px;
        gap: 1.5rem;
    }
    #secondary{
        position: sticky;
        height: calc(100vh - 10rem);
        top: 5rem;
    }
}
@media (max-width:767px){
    #secondary{
        position: sticky;
        bottom: 1rem;
    }
}

#searchInput{
    height: 45px;
}

.codeInfo{
    width: 160px;
    font-size: 12px;
}

.div_icon_page{
    width: 120px;
}


