@media (max-width:575px){
  .container-fuild .row div{
    font-size: 12px;
  }
}
@media (max-width:767px){
  .container-fuild .row div{
    font-size: 12px;
  }
}
@media (min-width:992px){
  #layout{
      display: grid;
      grid-template-columns:320px 1fr;
      gap: 1.5rem;
  }
  .col-list{
      position: sticky;
      height: calc(100vh - 6rem);
      top: 5rem;
  }
}

/* 法條清單排版 */
.col-list{
  width: 320px;
}
#list_article::-webkit-scrollbar{
  display: none;
}
.div_icon_page{
  width: 120px;
}

/* 主文排版 */
/* #item_text p{
  text-indent: 2em;
} */
#mainText h4,h5,h6{
  color: rgb(50, 120, 250);
}


