@media (max-width:575px){
  .container-fuild .row div{
    font-size: 12px;
  }
}
@media (max-width:767px){
  .container-fuild .row div{
    font-size: 12px;
  }
}
@media (min-width:992px){
  #layout{
      display: grid;
      grid-template-columns:320px 1fr;
      gap: 1.5rem;
  }
  .col-list{
      position: sticky;
      height: calc(100vh - 6rem);
      top: 5rem;
  }
}

/* 法條清單排版 */
.col-list{
  width: 320px;
}
#list_article::-webkit-scrollbar{
  display: none;
}
.div_icon_page{
  width: 120px;
}

/* 主文排版 */
/* #item_text p{
  text-indent: 2em;
} */
#item_text h4{
  color: rgb(50, 120, 250);
}



/* 法條內文排版 */
.modal-body{
  padding-left: 1.75em;
  padding-right: 0.5em;
  counter-reset: num 0;
  position: relative;
}
/* .line-0000{
  margin-left: 2em;
} */
.line-0004{
  margin-left: 2em;
  text-indent: -2em;
}
.line-0006{
  margin-left: 3em;
  text-indent: -3em;
}
.line-0008{
  margin-left: 3em;
  text-indent: -4em;
}
.line-0602{
  margin-left: 3em;
  text-indent: -1em;
}
.line-0505{
  margin-left: 5em;
  text-indent: -2.5em;
}
.line-0400{
  margin-left: 2em;
}
.show-number::before{
  content: counter(num) '';
  counter-increment: num 1; 
  display: inline-block;
  position: absolute;
  left: -2em;
  text-align: right;
  width: 3em;
  font-size: 1em;
  color: rgb(50, 120, 250);
  font-style: italic;
  font-weight: 600    ;
}

