a,a:link, a:visited,a:hover{
    text-decoration: none;
}

#mainContent{
    display: flex;
    flex-direction: column;
}
#bk_left{
    max-width: 400px;
}
/* #bk_right::-webkit-scrollbar{
    display: none;
} */
@media (min-width:992px){
    #mainContent{
        display: grid;
        grid-template-columns: 400px 1fr;
        grid-template-rows:  99% 1%;
        grid-column-gap: 16px;
    }
}

.comment_text{
    font-size: 12px;
    font-weight: 600;
    line-height: 1.5;
    text-indent: -2rem;
    margin-left: 3rem;
}

.icon_text{
    width: 24px;
    vertical-align: middle;
}


