@media (min-width:768px){
    #licenseLayout{
        display: grid;
        grid-template-columns: 380px 1fr;
        grid-column-gap: 16px;
    }
    #licenseLayout .card{
        height: 75vh;
    }
}

a,a:link, a:visited,a:hover{
    text-decoration: none;
}

.comment_text{
    font-size: 12px;
    font-weight: 600;
    line-height: 1.5;
    text-indent: -2rem;
    margin-left: 3rem;
}


